* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}
body {
  background-color: black;
}
.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  align-items: center;
  background-color: black;
  z-index: 999;
}
.header__logo {
  width: calc(100% / 3);
}
.header__logo-main {
  color: white;
  font-size: 35px;
  margin-left: 40px;
}
.header__search {
  display: flex;
  flex: 1;
}
.header__search-home {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
  color: #b3b3b3;
  margin-right: 10px;
}
.header__search-main {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f1f;
  color: #b3b3b3;
  border-radius: 999px;
}
.header__search-main-logo {
  font-size: 20px;
  margin-left: 20px;
}
.header__search-main-text {
  flex: 1;
  margin-left: 5px;
  background-color: #1f1f1f;
  text-decoration: none;
  border: none;
  outline: none;
  color: white;
}
.header__search-main-text::placeholder {
  font-size: 16px;
}
.header__search-main-store {
  margin-right: 20px;
  color: white;
}
.header__search-main-store::before {
  content: "";
  border: 1px solid #b3b3b3;
  left: 10px;
  width: 2px;
  height: 20px;
  margin-right: 7px;
}
.header__signin {
  width: calc(100% / 3);
  display: flex;
  justify-content: flex-end;
}
.header__signin-premium {
  border: 1px solid black;
  background-color: white;
  padding: 4px 14px;
  font-size: 13px;
  font-weight: 700;
  border-radius: 50px;
  margin-right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.header__signin-premium:hover {
  transform: scale(1.05);
}
.header__signin-install {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;
  padding: 2px 0px;
  font-size: 13px;
  font-weight: 700;
  border-radius: 9999px;
  margin-right: 27px;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.header__signin-install:hover {
  transform: scale(1.05);
}
.header__signin-install-text {
  margin-left: 5px;
}
.header__signin-nofi {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  font-size: 15px;
  color: #b3b3b3;
  cursor: pointer;
}
.header__signin-nofi:hover {
  color: white;
}
.header__signin-avt {
  margin-right: 20px;
  cursor: pointer;
}
.header__signin-avt-img {
  object-fit: cover;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 72px;
  background-color: black;
  border-radius: 5px;
}
.footer .footer__music-name {
  width: calc(100% / 3);
  display: flex;
  align-items: center;
}
.footer .footer__music-name .footer__music-name-img {
  margin-left: 15px;
}
.footer .footer__music-name .footer__music-name-img img {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 5px;
}
.footer .footer__music-name-main {
  margin-left: 10px;
  font-size: 15px;
}
.footer .footer__music-name-main .footer__music-name-song {
  margin-bottom: 4px;
  color: white;
}
.footer .footer__music-name-main .footer__music-name-author {
  font-size: 13px;
  color: #b3b3b3;
}
.footer .footer__music-name-tick {
  margin-left: 15px;
  color: green;
}
.footer .footer__music-duration {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  color: #b3b3b3;
}
.footer .footer__music-duration .footer__music-duration-act {
  display: flex;
  width: 300px;
  justify-content: space-around;
  font-size: 22px;
  margin-top: 14px;
}
.footer__music-duration-act :nth-child(3) {
  font-size: 25px;
}
.footer .footer__music-setup {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #b3b3b3;
}
.footer .footer__music-setup i {
  margin-right: 20px;
  font-size: 20px;
}
.main {
  position: fixed;
  top: 65px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.main__library {
  width: 25%;
  border-radius: 10px;
  height: 100vh;
  position: relative;
  background-color: #121212;
}
.main__library-title {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
.main__library-title-logo-name {
  display: flex;
}
.main__library-title-logo {
  margin-left: 15px;
  padding-left: 5px;
  font-size: 20px;
  font-weight: 500;
  color: #b3b3b3;
}
.main__library-title-name {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #b3b3b3;
}
.main__library-title-action i {
  margin-right: 10px;
  font-size: 22px;
  color: #b3b3b3;
}
.main__library-type {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 45px;
  display: flex;
  padding: 8px 0px;
  font-size: 14px;
  font-weight: 550;
}
.main__library-type-item {
  background-color: #333333;
  color: #fff;
  border-radius: 999px;
  margin-left: 8px;
  padding: 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__library-list {
  position: absolute;
  width: 100%;
  height: calc(100vh - 170px);
  border-radius: 5px;
  top: 105px;
  left: 0px;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}
.main__library-list:hover{
  overflow-y: auto;
}
.main__library-list-inner {
  width: 100%;
}
.main__library-list-inner-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  color: #b3b3b3;
  height: 45px;
  font-size: 15px;
}
.main__library-list-inner-icon {
  margin-left: 20px;
}
.main__library-list-inner-menu {
  margin-right: 20px;
}
.main__library-list-item {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
}
.main__library-list-inner-item-img {
  margin-inline: 20px;
}
.main__library-list-inner-item-img img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 5px;
}
.main__library-list-inner-item-name {
  display: flex;
  flex-direction: column;
}
.main__library-list-inner-item-namesong {
  color: #fff;
  font-size: large;
  font-weight: 500;
  margin-bottom: 5px;
}
.main__library-list-inner-item-nameauthor {
  color: #b3b3b3;
  font-size: small;
}
.main__playlist {
  width: 54%;
  border-radius: 5px;
  position: relative;
  height: 100vh;
}
.main__playlist-type {
  border-radius: 5px 5px 0 0;
  height: 60px;
  background-color: #121212;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  align-items: center;
  position: sticky;
}
.main__playlist-type:nth-child(1) {
  padding-left: 40px;
}
.main__playlist-type-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d4575;
  color: white;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 500;
}
.main__playlist-rcm {
  width: 100%;
  height: calc(100vh - 125px);
  border-radius: 0 0 5px 5px;
  background-color: #121212;
  color: white;
  overflow-y: hidden;
  padding-inline: 40px;
}
.main__playlist-rcm:hover{
  overflow-y: auto;
}
.main__playlist-rcm-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.main__playlist-rcm-title-main {
  font-size: 26px;
  font-weight: 800;
}
.main__playlist-rcm-title-show {
  font-size: 13px;
}
.main__playlist-rcm-items {
  display: flex;
  width: 178px;
}
.main__playlist-rcm-item {
  margin-top: 20px;
  margin-right: 20px;
}
.main__playlist-rcm-img img {
  width: 200px;
  width: 160px;
  object-fit: cover;
  border-radius: 5px;
}
.main__playlist-rcm-author {
  margin-top: 10px;
  color: #b3b3b3;
  max-width: 140px;
}
.main__likedsong {
  width: 19%;
  border-radius: 5px;
  position: relative;
  background-color: #121212;
  height: 100%;
}
.main__likedsong-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background-color: #121212;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__likedsong-title {
  font-weight: 700;
  margin-left: 20px;
}
.main__likedsong-icon i {
  margin-right: 20px;
  font-size: 14px;
}
.main__likedsong-list {
  width: 100%;
  height: calc(100vh - 130px);
  overflow-y: hidden;
}
.main__likedsong-list:hover{
  overflow-y: auto;
}
.main__likedsong-item {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__likedsong-item-img img {
  width: 248px;
  height: 248px;
  object-fit: cover;
  border-radius: 5px;
}
.main__likedsong-item-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 248px;
  margin-top: 10px;
  margin-left: 20px;
}
.main__likedsong-item-name-song {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
.main__likedsong-item-name-author {
  font-weight: 400;
  color: #b3b3b3;
}
.main__likedsong-item-icon {
  margin-right: 30px;
  font-size: 20px;
  color: white;
}
